{% extends 'modelo.html' %}

{% block titulo %}
<title>Doação</title>
{% endblock %}

{% block hero%}
<div class="container-sm" style="margin-top: 30px; margin-bottom: 30px;">
    <div style="text-align: end ">
    
    <button type="button" class="btn btn-primary"><a href="{% url 'editar' %}" style="text-decoration: none;
        color: #FFF;">Editar Dados</a></button>

    <button type="button" class="btn btn-warning" ><a href="https://billing.stripe.com/p/login/test_4gwdT7eOrblLgnK8ww" style="text-decoration: none;
        color: #FFF;">Cancelar/Alterar Plano</a></button>
    
    <button type="button" class="btn btn-danger"><a href="{% url 'logout' %}" style="text-decoration: none;
        color: #FFF;">Logout</a></button>
    </div> 
    


    <div class="col-md-12 py-3">
        
        <div class="table-responsive">
            <table id="lista_acoes" class="table table-striped table-bordered" width="100%">
                <thead>
                    
                    <th>Email</th>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Telefone</th>
                    <th>UF</th>
                    <th>Cidade</th>
                    
                    
                    <!-- <th>Editar</th> -->
                    <!-- <th>Cancelar/Alterar Plano</th>
                    <th>Logout</th> -->
                    
                    
                </thead>
                <tbody>
                    
                    {% load static %}
                    <tr>  
                        
                        <td>{{ user.email }}</td>  
                        <td>{{ user.nome }}</td>  
                        <td>{{ user.cpf  }}</td>  
                        <td>{{ user.telefone }}</td>  
                        <td>{{ user.uf }}</td>
                        <td>{{ user.cidade }}</td>
                        
                        <!-- <td class="text-center">
                            <p data-placement="top" data-toggle="tooltip" title="Editar">
                                <a href="{% url 'editar' %}" class="btn btn-primary btn-sm px-3" data-title="Editar" data-toggle="modal" data-target="#editar" >
                                    <img src="{% static '/img/pencil.svg' %}">
                                </a>
                            </p>
                        </td> -->
                        <!-- <td class="text-center">
                            <p data-placement="top" data-toggle="tooltip" title="Deletar">
                                <a href="https://billing.stripe.com/p/login/test_4gwdT7eOrblLgnK8ww" class="btn btn-danger btn-sm px-3" data-title="Remover" data-toggle="modal" data-target="#remover" >
                                    <img src="{% static '/img/trash.svg' %}">
                                </a>
                            </p>
                        </td> 
                        <td class="text-center">
                            <p data-placement="top" data-toggle="tooltip" title="Deletar">
                                <a href="{% url 'logout' %}" class="btn btn-danger btn-sm px-3" data-title="Remover" data-toggle="modal" data-target="#remover" >
                                    <img src="{% static '/img/trash.svg' %}">
                                </a>
                            </p>
                        </td>  -->
                    
                    </tr>  
                
                </tbody>         
            </table>
        </div>
    </div>
   
    <div style="text-align: center ">
        
        <p>Escolha um plano para continuar</p>
        <button type="button" class="btn btn-success"><a href="https://buy.stripe.com/test_dR602ydDI5cmdEI8wA" style="text-decoration: none;
            color: #FFF;">R$ 15,00</a></button>
        <button type="button" class="btn btn-success"><a href="https://buy.stripe.com/test_7sI5mS1V020a6cg6oo" style="text-decoration: none;
            color: #FFF;">R$ 20,00 </a></button>
        <button type="button" class="btn btn-success"><a href="https://buy.stripe.com/test_00gaHcbvAdISeIM3ce" style="text-decoration: none;
            color: #FFF;">R$ 50,00</a></button>
        <button type="button" class="btn btn-success"><a href="https://buy.stripe.com/test_cN29D86bg48i8ko147" style="text-decoration: none;
            color: #FFF;">R$ 100,00 </a></button> 
    </div>

</div>
    
{% endblock %}


{% block visitar %}
{% endblock %}

