{% extends 'modelo.html' %}


{% block titulo %}
<title>Login</title>
{% endblock %}


{% block hero%}

<form method="post">
    {% csrf_token %}

    <div class="form-group">
        {{form_login.email.errors}}
        <label>Email: </label>
        {{form_login.email}}
    </div>

    <div class="form-group">
        {{form_login.password.errors}}
        <label>Senha: </label>
        {{form_login.password}}
    </div>

    <div class="form-group">
        <input type="submit" value="Enviar" class="btn btn-primary">
    </div>
</form>
    
{% endblock %}

{% block visitar %}
{% endblock %}



